@import "@/assets/config_sass/colors.scss";
$box-width: auto;

.boxes {
  justify-content: space-between;
  display: grid;
  position: relative;
}
.box {
  width: auto;
  height: 15em;
  background-color: $gray-scale;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(132, 132, 143, 0.1);
}

.box img {
  max-width: $box-width !important;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
