@import "@/assets/config_sass/colors.scss";

.navbar input[type="checkbox"] {
  margin: 1em 1em 1em;
  height: 0;
  width: 0;
  visibility: hidden;

  &:checked + label:after {
    left: calc(100% - 2.5px);
    transform: translateX(-100%);
  }

  &:checked + label {
    background: $primary-color;
    transition: 0.5s ease;
    box-shadow: 0em 0em 0.3em 0.4em rgba($color: $primary-color, $alpha: 0.6); 
  }
  
}

.navbar label {
  cursor: pointer;
  text-indent: -9999px;
  width: 3.25em;
  height: 1.25em;
  background: $first-secondary-color;
  display: block;
  border-radius: 3em;
  position: relative;
  transition: 0.5s ease;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2.5px;
    padding: 0.5em;
    background: #fff;
    border-radius: 10em;
    transition: 0.5s ease;
  }

  &:active::after {
    width: 13px;
  }
}
