$primary-color: #4fb49d !default;
$first-secundary-color: #2c0342;
$second-secundary-color: #223167;
$third-secundary-color: #286d87;
$fourth-secundary-color: #9af486;
$gray-scale: #FAFAFA;
$background-primary: #fefefe;
$background-secondary: #000;