$primary-color: #4fb49d !default;
$first-secondary-color: #2c0342;
$second-secondary-color: #223167;
$third-secondary-color: #286d87;
$fourth-secondary-color: #9af486;

$gray-scale: #fafafa;
$gray-scale-2: #6b6b6b;
$font-color: #4a4a4a;

$background-primary: #fefefe;
$background-secondary: linear-gradient(
  230deg,
  #000,
  $first-secondary-color
);

$background-terciary: linear-gradient(
  230deg,
  #286d87,
  $first-secondary-color
);
