$primary-color: #4fb49d !default;
$first-secondary-color: #2c0342;
$second-secondary-color: #223167;
$third-secondary-color: #286d87;
$fourth-secondary-color: #9af486;
$gray-scale: #FAFAFA;
$background-primary: #fefefe;
$background-secondary: #000;