@import "./colors.scss";

.box.dark-mode {
  background-color: $background-secondary !important;
  transition: 0.5s ease;
}

main.dark-mode {
  background-image: $background-secondary;
  box-shadow: none;
}

nav.dark-mode {
  background: none;
  box-shadow: none;
  color: $gray-scale;
}


a.dark-mode, p.dark-mode, h1.dark-mode {
  color: $gray-scale;
}