@import "colors.scss";

$content-margin: 15em;

.input-box {
  height: 2.75em;
  align-items: center;
  width: 100%;
  border: 1px solid $gray-scale-2;
  color: $font-color;
  font-family: Poppins, sans-serif;
  border-radius: 4px;
  align-items: center;
  position: relative;
  padding: 0 1.75em 0;
  font-size: 0.95em;
  &::after {
    padding: 0 1em 0;
  }

  &:focus-visible {
    transition: 0.5s ease-in;
    outline-color: $primary-color;

  }
}

select.input-box {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-position: calc(100% - 12px) center !important;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  padding: 8px 32px 8px 16px;
}

.columns .column.is-full h1 {
  font-size: 3em;
  font-weight: 600;
  margin: 2.25em 0 2.25em;
}

.columns .column h2 {
  font-size: 2em;
  font-weight: 500;
  margin: 0.25em 0 0.25em;
}

.columns .column p {
  font-size: 1em;
  font-weight: 400;
  margin: 0.25em 3em 0.25em;
}
