.columns .column.is-full h1 {
  font-size: 3em;
  font-weight: 600;
  margin: 2.25em 0 2.25em;
}

.columns .column h2 {
  font-size: 2em;
  font-weight: 500;
  margin: 0.25em 0 0.25em;
}

.columns .column p {
  font-size: 1em;
  font-weight: 400;
  margin: 0.25em 3em 0.25em;
}